<div *ngIf="filterParams" class="container-fluid">

  <div class="row">
    <div class="col-12">
    <h2>Новая книга</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul *ngIf="failtureMessages">
        <li *ngFor="let message of failtureMessages">
          {{message}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-form-field>
        <input matInput placeholder="Название" [(formControl)]="nameFC">
        <mat-error>{{getErrorMessage(nameFC)}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="select">
      <mat-form-field>
        <mat-label>Автор</mat-label>
        <mat-select [(value)]="authorId">
          <mat-option>Новый автор</mat-option>
          <mat-option *ngFor="let author of filterParams.authors" [value]="author.id">
            {{author.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="!authorId">
        <input matInput placeholder="Новый автор" [(formControl)]="authorFC">
        <mat-error>{{getErrorMessage(authorFC)}}</mat-error>
      </mat-form-field>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="select">
      <mat-form-field>
        <mat-label>Издатель</mat-label>
        <mat-select [(value)]="publisherId">
          <mat-option>Новый издатель</mat-option>
          <mat-option *ngFor="let publisher of filterParams.publishers" [value]="publisher.id">
            {{publisher.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="!publisherId">
        <input matInput placeholder="Новый издатель" [(formControl)]="publisherFC">
        <mat-error>{{getErrorMessage(publisherFC)}}</mat-error>
      </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-form-field>
        <textarea  matInput placeholder="Описание" [(formControl)]="descrFC"></textarea>
        <mat-error>{{getErrorMessage(descrFC)}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-checkbox [(ngModel)]="hasSeries">Входит в серию книг</mat-checkbox>
      
      <div *ngIf="hasSeries" class="select">
      <mat-form-field>
        <mat-label>Серия</mat-label>
        <mat-select [(value)]="seriesId">
          <mat-option>Новая серия</mat-option>
          <mat-option *ngFor="let series of filterParams.series" [value]="series.id">
            {{series.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="hasSeries && !seriesId">
        <input matInput placeholder="Новая серия" [(formControl)]="seriesFC">
        <mat-error>{{getErrorMessage(seriesFC)}}</mat-error>
      </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="select">
      <mat-form-field>
        <mat-label>Категория</mat-label>
        <mat-select [(value)]="categoryId" (selectionChange)="getCategoryGenres();setDisableGenre()">
          <mat-option>Новая категория</mat-option>
          <mat-option *ngFor="let category of filterParams.categories" [value]="category.category.id">
            {{category.category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="!categoryId">
        <input matInput placeholder="Новая категория" [(formControl)]="categoryFC" (change)="setDisableGenre()">
        <mat-error>{{getErrorMessage(categoryFC)}}</mat-error>
      </mat-form-field>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="select">
      <mat-form-field>
        <mat-label>Жанр</mat-label>
        <mat-select [(value)]="genreId" [disabled]="disableGenre">
          <mat-option>Новый жанр</mat-option>
          <mat-option *ngFor="let genre of categoryGenres" [value]="genre.id">
            {{genre.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field  *ngIf="!genreId || !categoryId">
        <input matInput placeholder="Новый жанр" [(formControl)]="genreFC">
        <mat-error>{{getErrorMessage(genreFC)}}</mat-error>
      </mat-form-field>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <mat-form-field>
        <input matInput placeholder="Год издания" type="number" [(formControl)]="yearFC">
        <mat-error>{{getErrorMessage(yearFC)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <mat-form-field>
        <input matInput placeholder="Количество книг" type="number" [(formControl)]="countFC">
        <mat-error>{{getCountErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a class="text" [routerLink]="" (click)="addBook()">+&nbsp;&nbsp;Добавить книгу</a>
    </div>
  </div>

</div>
