<div *ngIf="book" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>{{book.name}}</h2>
      <h6>{{book.author}}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <p *ngIf="book.series"><b>Серия:</b> &laquo;{{book.series}}&raquo;</p>
      <p>{{book.category}} / {{book.genre}}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <p><b>Издатель:</b> &laquo;{{book.publisher}}&raquo; ({{book.releaseYear}} год)<br/>
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col item">
      <h6>Описание:</h6>
      <div class="description">{{book.description}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col item">
      <span *ngIf="loggedIn && isAdmin">
        <span><a class="text" routerLink="/book/edit/{{id}}">Редактировать</a></span>
        <span><a class="text" [routerLink]="" (click)="openDeleteBookDialog()">Удалить</a></span>
      </span>
    </div>
    <div class="col item text-right">
      <a class="text" [routerLink]="" (click)="goBack()">Назад</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <p><b>Рейтинг:</b> {{book.averageMark}}</p>

      <div *ngIf="!commentExists && loggedIn && !isAdmin">
        <mat-form-field>
          <mat-label>Отзыв</mat-label>
          <input matInput [(ngModel)]="text">
          <button mat-button *ngIf="text" matSuffix mat-icon-button aria-label="Clear" (click)="text=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="needMark">
          Поставьте оценку!
        </div>
        <i class="material-icons md-18" [class.gold]="mark>=1" (click)="setMark(1)">star</i>
        <i class="material-icons md-18" [class.gold]="mark>=2" (click)="setMark(2)">star</i>
        <i class="material-icons md-18" [class.gold]="mark>=3" (click)="setMark(3)">star</i>
        <i class="material-icons md-18" [class.gold]="mark>=4" (click)="setMark(4)">star</i>
        <i class="material-icons md-18" [class.gold]="mark===5" (click)="setMark(5)">star</i>
        <span><button (click)="addComment()">Оставить отзыв</button></span>
      </div>

      <p><b>Комментарии ({{book.commentsCount}}):</b></p>
      <mat-paginator *ngIf="book.commentsCount"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="getComments($event)">
      </mat-paginator>
      <mat-list>
        <mat-list-item *ngFor="let comment of comments">
          {{comment.text}} {{comment.mark}} - {{comment.name}}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>


