<div *ngIf="book" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>{{book.name}}</h2>
      <h6><a routerLink="/books" [queryParams]="{'authorId':book.authorId}">{{book.author}}</a></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <p *ngIf="book.series"><b>Серия:</b> &laquo;{{book.series}}&raquo;</p>
      <p>{{book.category}} / {{book.genre}}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <p><b>Издатель:</b> &laquo;{{book.publisher}}&raquo; ({{book.releaseYear}} год)<br/>
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h6>Описание:</h6>
      <div class="select">
      <div class="description">{{book.description}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <span *ngIf="loggedIn && isAdmin">
        <span><a class="text" routerLink="/book/edit/{{id}}">Редактировать</a></span>
        <span><a class="text" [routerLink]="" (click)="openDeleteBookDialog()">Удалить</a></span>
      </span>
      <span *ngIf="loggedIn && !isAdmin">
        <span *ngIf="!inScheduled"><a class="text" [routerLink]="" (click)="addToScheduled()">+&nbsp;&nbsp;Добавить в очередь</a></span>
        <span *ngIf="inScheduled"><a class="text" [routerLink]="" (click)="removeFromScheduled()">&#215;&nbsp;&nbsp;Убрать из очереди</a></span>
        <span *ngIf="!inRead"><a class="text" [routerLink]="" (click)="addToRead()">&uarr;&nbsp;&nbsp;Добавить в прочитанные</a></span>
        <span *ngIf="inRead"><a class="text" [routerLink]="" (click)="removeFromRead()">&darr;&nbsp;&nbsp;Удалить из прочитанных</a></span>
      </span>
    </div>
    <div class="col-3 text-right">
      <a class="text" [routerLink]="" (click)="goBack()">&larr;&nbsp;&nbsp;Назад</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p><strong>Средняя оценка:</strong> {{book.averageMark}}</p>
    </div>
  </div>
  <div class="row" *ngIf="!commentExists && loggedIn && !isAdmin">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div>
        <mat-form-field>
          <mat-label>Комментарий</mat-label>
          <textarea rows="3" matInput [(formControl)]="commentFC"></textarea>
          <mat-error>{{getErrorMessage(commentFC)}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!commentExists && loggedIn && !isAdmin">
    <div class="col-6">Оценка:<br/>
        <a class="stars" [routerLink]="" (click)="setMark(1)"><i class="material-icons md-18" [class.gold]="mark>=1">star</i></a>
        <a class="stars" [routerLink]="" (click)="setMark(2)"><i class="material-icons md-18" [class.gold]="mark>=2">star</i></a>
        <a class="stars" [routerLink]="" (click)="setMark(3)"><i class="material-icons md-18" [class.gold]="mark>=3">star</i></a>
        <a class="stars" [routerLink]="" (click)="setMark(4)"><i class="material-icons md-18" [class.gold]="mark>=4">star</i></a>
        <a class="stars" [routerLink]="" (click)="setMark(5)"><i class="material-icons md-18" [class.gold]="mark===5">star</i></a>
        <div>
          <span class="link"><a class="text" [routerLink]="" (click)="addComment()">Отправить</a></span>
          <span *ngIf="needMark">Необходимо оставить комментарий и оценку!</span>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span><strong>Комментарии ({{book.commentsCount}}):</strong></span>
      <ul class="comments">
        <li *ngFor="let comment of comments">
          &#151; {{comment.text}}<br/><span class="user">Пользователь: <strong>{{comment.name}}</strong> (оценка: <strong>{{comment.mark}}</strong>)</span>
        </li>
      </ul>
      <mat-paginator *ngIf="book.commentsCount > 5"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="getComments($event)">
      </mat-paginator>
    </div>
  </div>
</div>


