<div *ngIf="!loggedIn">
  <h1 mat-dialog-title>Вход</h1>
  <div *ngIf="loginFailed">Неверный логин или пароль!</div>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Логин" [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Пароль" [type]="hide ? 'password' : 'text'" [(ngModel)]="data.pass">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-button (click)="onLoginClick()" cdkFocusInitial>Логин</button>
  </div>
</div>
<div *ngIf="loggedIn">
  <h1>Успешный вход!</h1>
</div>
