@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h2 {
  margin: .5em 0 .5em 0;
}

div.select {
  border-style: solid;
  border-color: #bbb;
  border-width: 1px;
  padding: 0 1em 0 1em;
  margin-bottom: 1em;
}

div.nav {
  padding: 1em 0em 1em 0em;
  color: #ffe1bd;
  background-color: #5b1c17;
}


a.nav {
  color: #ffe1bd;
  padding: 8px 15px;
  text-decoration: none;
  margin-top: 0px;
  display:inline;
}

a.nav:hover {
  color: #5b1c17;
  text-decoration: none;
  background-color: #ffe1bd;
}

a.text {
  color: #ffe1bd;
  background-color: #5b1c17;
  padding: 8px 15px;
  text-decoration: none;
  margin: 1em 0 1em 0;
  display:inline-block;
}

a.text:hover {
  color: #5b1c17;
  text-decoration: none;
  background-color: #ffe1bd;
}

span {
  margin-right:.5em;
}

mat-form-field {
  width:100%;
}

body {
  font-size: 90%;
}

input[type="text"], button {
  color: #444;
  font-family: Segoe UI, Helvetica, sans-serif;
}



* {
  font-family: Segoe UI, Helvetica, sans-serif;
}
