@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.main {
  height:100%;
  text-align:center;
  margin-top: 6em;
}

h2 {
  margin: .5em 0 .5em 0;
}

.books li {
  cursor: pointer;
  list-style-type: square;
  margin-left: -1.5em;
  padding: .5em .5em;
  height: 3em;
  width: 100%;
}

.books li:hover {
  background-color: #efefef;
}

.books a {
  color: #444;
  text-decoration: none;
  position: relative;
  display: block;
}

.books a:hover {
  color: #5b1c17;
}

div.nav {
  padding: 1em 0em 1em 0em;
  color: #ffe1bd;
  background-color: #5b1c17;
}

a.nav {
  color: #ffe1bd;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 0px;
  display: inline;
}

  a.nav:hover {
    color: #5b1c17;
    text-decoration: none;
    background-color: #ffe1bd;
  }

a.text {
  color: #ffe1bd;
  background-color: #5b1c17;
  padding: 5px 10px;
  text-decoration: none;
  margin: 1em 0 1em 0;
  display: inline-block;
}

a.text:hover {
  color: #fff;
  text-decoration: none;
  background-color: #b79371;
}

a {
  color:#5b1c17;
  text-decoration: none;
}

a:hover {
  color:#b3272c;
  text-decoration: none;
}

span {
  margin-right: .5em;
}

mat-form-field {
  width: 100%;
}

body {
  font-size: 85%;
}

input[type="text"], button {
  color: #444;
  font-family: Segoe UI, Helvetica, sans-serif;
}



* {
  font-family: Segoe UI, Helvetica, sans-serif;
}
