@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

h1 {
  color: #369;
  font-family: Segoe UI, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Segoe UI, Helvetica, sans-serif;
  font-weight: lighter;
}

span {
  margin-right:1em;
}

mat-form-field {
  width:100%;
}

nav {
  padding: 1em 1em 1em 1em;
  margin-bottom: 0.5em;
  background: #E0E0E0;
}

body {
  font-size: 90%;
  margin: 0em;
}

body, input[type="text"], button {
  color: #888;
  font-family: Segoe UI, Helvetica, sans-serif;
}

* {
  font-family: Segoe UI, Helvetica, sans-serif;
}
