<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>Книжная полка</h2>
    </div>
  </div>

  <div class="row" *ngIf="scheduledList">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h6>Спикок книг в очереди
        <span *ngIf="scheduledList.length === 0"> пуст</span>
        <span *ngIf="scheduledList.length > 0"> ({{scheduledList.length}})</span>
      </h6>

      <div class="bordertop">
        <div class="scrolled">
          <ul class="books">
            <li *ngFor="let b of scheduledList">
              <a routerLink="/book/{{b.id}}"><span>{{b.author}} <strong>&laquo;{{b.name}}&raquo;</strong></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h6>Список прочитанных книг
        <span *ngIf="readList.length === 0"> пуст</span>
        <span *ngIf="readList.length > 0"> ({{readList.length}})</span>
      </h6>
      <div class="bordertop">
        <div class="scrolled">
          <ul class="books">
            <li *ngFor="let b of readList">
              <a routerLink="/book/{{b.id}}"><span>{{b.author}} <strong>&laquo;{{b.name}}&raquo;</strong></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
