<div *ngIf="!loggedIn && (registerFailed == null || registerFailed != null && registerFailed)">
  <h1 mat-dialog-title>Регистрация</h1>
  <ul *ngIf="registerFailed">
    <li *ngFor="let message of failtureMessages">
      {{message}}
    </li>
  </ul>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Логин" [(formControl)]="loginFormControl">
      <mat-error *ngIf="loginFormControl.invalid">{{getLoginErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Пароль" [type]="hide ? 'password' : 'text'" [(formControl)]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Подтвердите пароль" [type]="hide ? 'password' : 'text'" [(formControl)]="passwordConfirmFormControl">
      <mat-error *ngIf="passwordConfirmFormControl.invalid">{{getPasswordConfirmErrorMessage()}}</mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-button (click)="onRegisterClick()" cdkFocusInitial>Регистрация</button>
  </div>
</div>
<div *ngIf="registerFailed != null && !registerFailed">
  <h1>Успешная регистрация!</h1>
</div>
<div *ngIf="loggedIn">
  <h1>Успешный вход!</h1>
</div>
