.menu {
  margin-left: 1em;
  margin-right: .5em;
}

a.notifytext {
  color: #444;
  padding: 5px 10px;
  text-decoration: none;
  margin: 0em 0 1em 0;
  display: inline-block;
}

a.notifytext:hover {
  color: #b3272c;
  text-decoration: none;
}
